@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&family=Pathway+Gothic+One&display=swap');

@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
}
@media (min-width: 768px) {
    .custom-element {
      color: var(--primary);
    }
  }
  

  img { 
    max-width: 100%;
    /* height: auto !important;  */
  }
  ul{
    list-style: none;
  }
/* header-logo */
 .logo-header{
  width: 80%;
}
.icon-text{
  text-align: center;
}
.txt-campus{
  font-family: sans-serif;
  font-weight: bold;
  color:#F0A4B1;
}
.txt-campus:hover{
  color: #0E6E0D;
}
/* nav */
.navbar{
  background-color: #0E6E0D;
}
.menu {
  position: relative;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}
.menu::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  color: white;
}
.menu:hover::before{
  color: white;
  transform-origin: left;
  transform: scaleX(1);
 
}

/* -section */
.section1-text{
color: #F0A4B1;
font-size: 30px;
font-family: sans-serif;
font-weight: bold;
}
.section1-txt-p{
  font-family: "Gothic A1";
  font-weight: bold;
}
/* 2-section */
#section-2{
  /* height: auto; */
  width: 100%;
  background-image:linear-gradient(to bottom left,#5bd059, #f77bb9); 
}
.section2-poster{
  height: auto;
}
/* 3-section */

/* footer */
#footer{
  width: 100%;
  height: auto;
  background-color: #0E6E0D;
}
.ftr-logo{
  width: auto;
  height: 90px;
}
.ftr-text{
  font-size: larger;
  color: white;
  font-style: normal;
}
.ftr-text-camp{
  color: whitesmoke;
}
.icon{
  color: #F0A4B1;
}
.icon-fb{
  color: #3b5998;
}
.icon-yt{
  color: #c4302b;
}
.icon-tw{
  color: #00acee;
}
.ftr-text-add{
  color: white;
  font-size: small;
 
}
.ftr-con-num{
  color: white;
  font-size: small;
}
.ftr-email{
  color: white;
  font-size: small;
}

/*  */
/* 
@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
} */
.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
