@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
}
@media (min-width: 768px) {
    .custom-element {
      color: var(--primary);
    }
  }
  

  img { 
    max-width: 100%;
    /* height: auto !important;  */
  }
/* header-logo */
 .logo-header{
  width: 80%;
}
.icon-text{
  text-align: center;
}
.navbar{
  background-color: #0E6E0D;
}
.section1-text{
color: #F0A4B1;
font-size: 30px;
}
/* 2-section */
#section-2{
  /* height: auto; */
  width: 100%;
  background-image:linear-gradient(to bottom left,#5bd059, #f77bb9); 
}
.section2-poster{
  height: auto;
}
/* 3-section */

/* footer */
#footer{
  width: 100%;
  height: auto;
  background-color: #0E6E0D;
}
.ftr-logo{
  width: auto;
  height: 90px;
}
.ftr-text{
  font-size: larger;
  color: white;
  font-style: normal;
}
.ftr-text-camp{
  color: whitesmoke;
}
.icon{
  color: #F0A4B1;
}
.icon-fb{
  color: #3b5998;
}
.icon-yt{
  color: #c4302b;
}
.icon-tw{
  color: #00acee;
}
.ftr-text-add{
  text-align: left;
  color: white;
}
.ftr-con-num{
  color: white;
}